@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%)
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--Light-gray);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    margin: 0px;
}

.main {
    max-width: 350px;
    background-color: var(--White);
    padding: 20px;
    border-radius: 25px;
}

.main-img {
    margin: 0px;
}

.main-img > img {
    max-width: 100%;
    border-radius: 15px;
}

.main-text {
    padding: 25px;
    text-align: center;
}

.main-text > h1 {
    color: var(--Dark-blue);
    font-size: 1.6rem;
    margin-bottom: 25px;
}

.main-text > p {
    color: var(--Grayish-blue);
    font-size: 1.2rem;
}

.attribution {
    margin-top: 10px;
}